<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>登陆</title>
</head>
<body>
  <h1>登陆</h1>
  <form action="/api/v1/signin" method="POST">
    <label for="email">登陆</label>
    <input id="email" name="email" type="text" value="">
    <br>
    <label for="password">密码</label>
    <input id="password" name="password" type="password" value="">
    <br>
    <label><input name="expires" type="checkbox">自动登录</label>
    <br>
    <input type="submit" value="登陆">
  </form>
</body>
</html>