<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>注册</title>
</head>
<body>
  <h1>注册</h1>
  <form action="/api/signin" method="POST">
    <label for="email">注册</label>
    <input id="email" name="email" type="email" value="">
    <br>
    <label for="passowrd">密码</label>
    <input id="passowrd" name="passowrd" type="password" value="">
    <br>
    <label for="passowrd">重复</label>
    <input id="passowrd" name="passowrd" type="password" value="">
    <br>
    <input type="submit" value="注册">
  </form>
</body>
</html>