<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>个人信息</title>
</head>
<body>
  <h1>个人信息</h1>
  <code>Nickname:</code> <%= nickname %>
  <br>
  <code>Password:</code> <%= password %>
  <br>
  <code>Email:</code> <%= email %>
  <br>
  <code>Create_at:</code> <%= create_at %>
  <br>
</body>
</html>