<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Ind</h2>
    <ul>
      <li><a href="/">/</a></li>
      <li><a href="/account">/account</a></li>
      <li><a href="/account/manage">/account/manage</a></li>
      <li><a href="/shelf/">/shelf/</a></li>
      <li><a href="/shelf/:id">/shelf/:id</a></li>
      <li><a href="/shelf/manage">/shelf/manage</a></li>
      <li><a href="/library/">/library/</a></li>
      <li><a href="/library/:id">/library/:id</a></li>
      <li><a href="/books/">/books/</a></li>
      <li><a href="/books/:id">/books/:id</a></li>
      <li><a href="/books/:id/update">/books/:id/update</a></li>
    </ul>
    <h2>API</h2>
    <ul>
      <li><a href="/api/v1/account">/api/v1/account</a></li>
      <li><a href="/api/v1/account/info">/api/v1/account/info</a></li>
      <li><a href="/api/v1/account/password">/api/v1/account/password</a></li>
      <li><a href="/api/v1/shelf/books/:id">/api/v1/shelf/books/:id</a></li>
      <li><a href="/api/v1/shelf/books">/api/v1/shelf/books</a></li>
      <li><a href="/api/v1/shelf/books/update">/api/v1/shelf/books/update</a></li>
      <li><a href="/api/v1/shelf/books/delete">/api/v1/shelf/books/delete</a></li>
      <li><a href="/api/v1/shelf/labels">/api/v1/shelf/labels</a></li>
      <li><a href="/api/v1/shelf/labels">/api/v1/shelf/labels</a></li>
      <li><a href="/api/v1/shelf/labels/:id">/api/v1/shelf/labels/:id</a></li>
      <li><a href="/api/v1/shelf/labels/:id/update">/api/v1/shelf/labels/:id/update</a></li>
      <li><a href="/api/v1/shelf/labels/:id/delete">/api/v1/shelf/labels/:id/delete</a></li>
      <li><a href="/api/v1/library/:category">/api/v1/library/:category</a></li>
      <li><a href="/api/v1/books">/api/v1/books</a></li>
      <li><a href="/api/v1/books/:id">/api/v1/books/:id</a></li>
      <li><a href="/api/v1/books/:id/update">/api/v1/books/:id/update</a></li>
      <li><a href="/api/v1/books/:id/reply">/api/v1/books/:id/reply</a></li>
      <li><a href="/api/v1/search">/api/v1/search</a></li>
    </ul>
  </body>
</html>