<h1>Nav</h1>
<hr>

<h2>基础页面</h2>
<h3>GET</h3>
<ul>
  <li>Done - <a target="_blank" href="/">GET - /</a></li>
  <li>Done - <a target="_blank" href="/signup">GET - /signup</a></li>
  <li>Done - <a target="_blank" href="/signin">GET - /signin</a></li>
  <li>Done - <a target="_blank" href="/signout">GET - /signout</a></li>
</ul>
<h3>POST</h3>
<ul>
  <li>Done - <a target="_blank" href="/signin">POST - /signin</a></li>
</ul>
<hr>

<h2>辅助页面</h2>
<ul>
  <li>Done - <a target="_blank" href="/account">GET - /account</a></li>
  <li>Done - <a target="_blank" href="/account/manage">GET - /account/manage</a></li>
  <li>Done - <a target="_blank" href="/shelf">GET - /shelf</a></li>
  <li>Todo - <a target="_blank" href="/shelf/:tag_id">GET - /shelf/:tag_id</a></li>
  <li>Done - <a target="_blank" href="/shelf/tags">GET - /shelf/tags</a></li>
  <li>Done - <a target="_blank" href="/shelf/tags/add">GET - /shelf/tags/add</a></li>
  <li>Done - <a target="_blank" href="/shelf/tags/:tag_id">GET - /shelf/tags/:tag_id</a></li>
  <li>Done - <a target="_blank" href="/shelf/tags/:tag_id/update">GET - /shelf/tags/:tag_id/update</a></li>
  <li>Done - <a target="_blank" href="/library">GET - /library</a></li>
  <li>Done - <a target="_blank" href="/books/add">GET - /books/add</a></li>
  <li>Done - <a target="_blank" href="/books/:id">GET - /books/:id</a></li>
  <li>Done - <a target="_blank" href="/books/update">GET - /books/update</a></li>
</ul>
<hr>

<h2>API V1</h2>
<h3>GET</h3>
<ul>
  <li>Done - <a target="_blank" href="/api/v1/account">/api/v1/account</a></li>
  <li>Done - <a target="_blank" href="/api/v1/books/:id">/api/v1/books/:id</a></li>
  <hr>
  <li>Todo - <a target="_blank" href="/api/v1/shelf/books/:id">/api/v1/shelf/books/:id</a></li>
  <li>Todo - <a target="_blank" href="/api/v1/shelf/labels">/api/v1/shelf/labels</a></li>
  <li>Todo - <a target="_blank" href="/api/v1/shelf/labels/:id">/api/v1/shelf/labels/:id</a></li>
  <li>Todo - <a target="_blank" href="/api/v1/library/:category">/api/v1/library/:category</a></li>
  <li>Todo - <a target="_blank" href="/api/v1/search">/api/v1/search</a></li>
</ul>
<h3>POST</h3>
<ul>
  <li>Done - <a target="_blank" href="/api/v1/signup">POST - /api/v1/signup</a></li>
  <li>Done - <a target="_blank" href="/api/v1/account/info">/api/v1/account/info</a></li>
  <li>Done - <a target="_blank" href="/api/v1/account/password">/api/v1/account/password</a></li>
  <li>Done - <a href="/tags" target="_blank">GET - /tags</a></li>
  <li>Done - <a href="/tags/add" target="_blank">POST - /tags/add</a></li>
  <li>Done - <a href="/tags/:tag_id" target="_blank">GET - /tags/:tag_id</a></li>
  <li>Done - <a href="/tags/:tag_id/update" target="_blank">POST - /tags/:tag_id/update</a></li>
  <li>Done - <a href="/tags/:tag_id/delete" target="_blank">POST - /tags/:tag_id/delete</a></li>
  <hr>
  <li>Todo - <a target="_blank" href="/api/v1/shelf/books">/api/v1/shelf/books</a></li>
  <li>Todo - <a target="_blank" href="/api/v1/shelf/books/update">/api/v1/shelf/books/update</a></li>
  <li>Todo - <a target="_blank" href="/api/v1/shelf/books/delete">/api/v1/shelf/books/delete</a></li>
  <li>Todo - <a target="_blank" href="/api/v1/shelf/labels">/api/v1/shelf/labels</a></li>
  <li>Todo - <a target="_blank" href="/api/v1/shelf/labels/:id/update">/api/v1/shelf/labels/:id/update</a></li>
  <li>Todo - <a target="_blank" href="/api/v1/shelf/labels/:id/delete">/api/v1/shelf/labels/:id/delete</a></li>
  <li>Done - <a target="_blank" href="/api/v1/books/add">/api/v1/books/add</a></li>
  <li>Todo - <a target="_blank" href="/api/v1/books/:id/update">/api/v1/books/:id/update</a></li>
  <li>Todo - <a target="_blank" href="/api/v1/books/:id/reply">/api/v1/books/:id/reply</a></li>
</ul>
<hr>

<hr>